.weather{
    background-color:royalblue;
    text-align: center;
    border-radius: 0;
}



.divider{
    width: 100%;
    background-color: black;
    height: 5px;
    margin: 5px 0 5px 0;
    border-radius:2px;
}

#city{
    border-radius: 5px;
}

#search{
    margin-top:5px;
    background-color: lightskyblue;
    color: white;
    border:none;
    border-radius: 5px;
}

.oldSearch{
    background-color: lightgray;
    color: black;
    border:none;
    border-radius: 5px;
}