/* Jumbotron styling */
.weather{
    background-color:royalblue;
    text-align: center;
    border-radius: 0;
}

/* Styling for divider between previous searches and search button */
.divider{
    width: 100%;
    background-color: black;
    height: 5px;
    margin: 5px 0 5px 0;
    border-radius:2px;
}

/* Styling for City box input */
#city{
    border-radius: 5px;
}

/* Search button styling */
#search{
    margin-top:5px;
    background-color: lightskyblue;
    color: white;
    border:none;
    border-radius: 5px;
}

/* Previous search butotn styling */
.oldSearch{
    background-color: lightgray;
    color: black;
    border:none;
    border-radius: 5px;
    margin-top: 10px;
}

/* Stylign for future forecast */
.smallCard{
    background-color: darkslategray;
    color: white;
    width: 19%;
    margin-top: 15px;
    margin-right: auto;
}